$theme-color0: #dddddd;
$theme-color1: #535353;
$theme-color2: #4d4d4d;
$theme-color3: #282828;

body {
	overflow: hidden;
	margin: 0;
	background-color: $theme-color3;
}

#screen {
	position: absolute;
	width: 100%;
	height: 100%;
	background: $theme-color3;

	.viewport{
		position:absolute;
	}
}
